.large-4.columns
  .row
    %p.copytext
      = link_to "HireJuniors", root_path
      is a job board where employers can look for junior web builders, post their job listing and find the perfect candidate.
      Posting a job listing on
      = link_to "HireJuniors", root_path
      is, and always will be, free of charge.
      %br
      %br
      Thank you for considering to give a junior a chance!

  .row
    %ul.inline-list
      %li
        %h1 Newest jobs
      %li
        = link_to "Post a job!", new_job_path, id: 'new_job_button'

  - @jobs.each do |job|
    .row.job
      %ul.inline-list.job-list
        %li.job-title
          = link_to job.title, job_path(job.id)
        %li.right
          = job.created_at.to_date.to_formatted_s(:short)
