= form_for @job, id: 'new_job_form' do |f|
  .row
    .large-12.columns
      .row
        %h3 Hey there!
        %p
          Thanks for deciding to give a junior a chance! Let's create this job ad!
    .large-12.columns
      .row
        %h5 Tell us about your company
        .large-6.columns
          = f.label :company_name
          = f.text_field :company_name, placeholder: "Example Co."

          = f.label :company_url
          = f.text_field :company_url, placeholder: "http://example.com"
        .large-6.columns
          = f.label :location
          = f.text_field :location, placeholder: "San Francisco, California"

          = f.label :additional_info
          = f.text_field :additional_info, placeholder: "Please only serious candidates and no recruiters..."
      %br
      %br

      .row
        %h5 We'll need some details about the job position
        .large-12.columns
          = f.label 'Job title'
          = f.text_field :title, placeholder: "Junior web developer wanted..."
        .large-6.columns
          = f.label "Do you accept remote work?"
          = f.check_box :remote_work
        .large-6.columns
          = f.label :how_to_apply
          = f.text_field :how_to_apply, placeholder: "Send an email to hr@example.com"
      .row
        .large-12.columns
          = f.label "Job description"
          = f.text_area :description,  rows: 30, cols: 20, placeholder: "The candidate would be working in a remote team...", id: 'job_description'

      %br
      %br

      .row
        %h5 Sorry about this, but ...
        .large-12.columns
          = label_tag "To keep spammers and bots out, we'll need your email address where we will send you a confirmation letter."
      .row
        .large-6.columns
          = f.text_field :author_email, placeholder: 'john@doe.com'
        .large-12.columns
          %p{style: 'color: #aaa; font-size: 14px'}
            Disclaimer: We will never give out your email address! Seriously,
            %span{style: 'color: #B02B2C'} never!

      .row
        %h5 We are done! Let's publish this job ad and find the right person!
        .large-12.columns
          = f.submit "Publish job"

      .row
        .large-12.columns
          %p{:align => 'center', style: 'color: #aaa; font-size: 14px'}
            Posting jobs on HireJuniors is free, but every ad lasts for 30 days only.
