.large-12.columns#show_job
  .row
    .large-12.columns
      %p
        %h3= @job.title
        .posted_on
          Posted
          = distance_of_time_in_words(Time.now, @job.created_at)
          ago

      %p#company_info
        = @job.company_name
        %br
        Location:
        = @job.location
        %br
        = link_to @job.company_url, @job.company_url

      %p
        = @job.description


    .large-12.columns
      %p
        = remote_work(@job.remote_work)

      %p
        - unless @job.additional_info.blank?
          Additional info
          = @job.additional_info

      %p#apply
        Want to apply for this job?
        = @job.how_to_apply
