.large-12.columns#show_job
  .row
    .large-12.columns
      %p
        %h3= @job.title
        .posted_on
          Posted
          = distance_of_time_in_words(Time.now, @job.created_at)
          ago

      %p#company_info
        = @job.company_name
        %br
        Location:
        = @job.location
        %br
        = link_to @job.company_url, @job.company_url

      %p#job_description
        = @job.description

      Remote?
      = @job.remote_work

    .small-4.large-6.columns
      Company name
      = @job.company_name

      Company URL
      = link_to @job.company_url, @job.company_url

      Location
      = @job.location

      Additional info
      = @job.additional_info

      Want to apply for this job?
      = @job.how_to_apply
