.large-12.columns#show_job
  .row
    .large-12.columns
      %p
        %h3= @job_ad.title
        .posted_on
          Posted
          = distance_of_time_in_words(Time.now, @job_ad.created_at)
          ago

      %p#company_info
        = @job_ad.company_name
        %br
        Location:
        = @job_ad.location
        %br
        = link_to @job_ad.company_url, @job_ad.company_url

      %p#job_description
        = @job_ad.description

      Remote?
      = @job_ad.remote_work

      Requirements
      = @job_ad.requirements

    .small-4.large-6.columns
      Company name
      = @job_ad.company_name

      Company URL
      = link_to @job_ad.company_url, @job_ad.company_url

      Location
      = @job_ad.location

      Additional info
      = @job_ad.additional_info

      Want to apply for this job?
      = @job_ad.how_to_apply
