!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Uncomment to make IE8 render like IE7
    / <meta http-equiv="X-UA-Compatible" content="IE=7" />
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Untitled"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags
  %body
    %nav.top-bar{ 'data-options' => "is_hover:true" }
      %ul.title-area
        %li.name
          %h1
            = link_to 'HireJuniors', '/'
      %section.top-bar-section
        %ul.right
          %li= link_to "Home", '/'
          %li.divider
          %li= link_to "Ads", job_ads_path
          %li.divider
          %li.has-dropdown
            =link_to 'Account', '#'
            %ul.dropdown
              %li= link_to 'Profile', edit_user_registration_path
              - if user_signed_in?
                %li= link_to "Sign out", destroy_user_session_path, method: 'delete'
              - else
                %li= link_to "Sign in", new_user_session_path

  %div.row
    - if flash[:notice]
      %div.alert-box.radius
        = flash[:notice]
        <a href="#" class="close">&times;</a>
    - if flash[:error]
      %div.alert-box.alert.round
        = flash[:error]
        <a href="#" class="close">&times;</a>
    %div.medium-2.columns
      = yield
    = javascript_include_tag "application"
